<section class="about">
    <div class="container">
        <h2 id="about" class="about__title">Teacher</h2>
        <div class="about-wrapper">
            <picture class="about-wrapper__picture" >
                <source srcset=" ./images/desktop-teacher.webp 1x, ./images/desktop-teacher@2x.webp 2x " 
                media="(min-width: 1680px)" 
                type="image/webp" />
                <source srcset=" ./images/desktop-teacher.jpg 1x, ./images/desktop-teacher@2x.jpg 2x" 
                media="(min-width: 1680px)" />
                <source srcset=" ./images/tablet-teacher.webp 1x, ./images/tablet-teacher@2x.webp 2x" 
                media="(min-width: 768px)" 
                type="image/webp" />
                <source srcset=" ./images/tablet-teacher.jpg 1x, ./images/tablet-teacher@2x.jpg 2x" 
                media="(min-width: 768px)" />
                <source srcset=" ./images/mobile-teacher.webp 1x, ./images/mobile-teacher@2x.webp 2x" 
                media="(max-width: 767px)" 
                type="image/webp" />
                <source srcset=" ./images/mobile-teacher.jpg 1x, ./images/mobile-teacher@2x.jpg 2x" 
                media="(max-width: 767px)" />
                <img class="about-wrapper__img" src="./images/desktop-teacher.jpg" alt="photo of a teacher">
            </picture>
            <div class="about-wrapper__list-item">
                <h3 class="about-wrapper__title">Elena Moreva</h3>
                <ul class="about-wrapper__list">
                    <li class="about-wrapper__item">6 yeards of experience in preparing students for UPE</li>
                    <li class="about-wrapper__item">Own result of passing VNO - 197 points 2 years in a row</li>
                    <li class="about-wrapper__item">Passed excellent at the international analogue of UPE - Cambridge PET(Preliminary
                        English Test)</li>
                </ul>
                <p class="about-wrapper__text">Graduated from the Institute of International Relations of the NAU with a degree in
                    translator-analyst.</p>
                <p class="about-wrapper__text">In spare time takes courses from the best universities in the world on effective teaching
                    and essay writing techniques.</p>
                <p class="about-wrapper__text about-wrapper__text-margin">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
                    University of Queesland), How to
                    Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful
                    Tools for Teaching and Learning (University of Houston).
                </p>
                <a class="about-wrapper__link" href="">Cambrige English Entry Level Certificate</a>
            </div>
        </div>
    </div>
        
</section>