<section class="section benefits">
    <div class="container benefits__backside">
        <h2 class="benefits__title">Why do people choose us</h2>
        <div class="benefits__frontside">
            <ul id="benefits" class="benefits__list">
                <li class="benefits__list-item">
                    <div class="benefits__list-count">&mdash;&ensp;</div>
                    <div class="benefits__list-description">
                        <p class="benefits__list-description-text">Training in small groups</p>
                    </div>
                </li>
                <li class="benefits__list-item">
                    <div class="benefits__list-count">&mdash;&ensp;</div>
                    <div class="benefits__list-description">
                        <p class="benefits__list-description-text">Rendered notes</p>
                    </div>
                </li>
                <li class="benefits__list-item">
                    <div class="benefits__list-count">&mdash;&ensp;</div>
                    <div class="benefits__list-description">
                        <p class="benefits__list-description-text">Each lesson has a goal and a specific result</p>
                    </div>
                </li>
                <li class="benefits__list-item">
                    <div class="benefits__list-count">&mdash;&ensp;</div>
                    <div class="benefits__list-description">
                        <p class="benefits__list-description-text">The real results of the teacher</p>
                    </div>
                </li>
                <li class="benefits__list-item">
                    <div class="benefits__list-count">&mdash;&ensp;</div>
                    <div class="benefits__list-description">
                        <p class="benefits__list-description-text">The course program meets the requirements of the MES
                            of Ukraine</p>
                    </div>
                </li>
                <li class="benefits__list-item">
                    <div class="benefits__list-count">&mdash;&ensp;</div>
                    <div class="benefits__list-description">
                        <p class="benefits__list-description-text">Set of groups by level of knowledge</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>