<section class="section contacts">
    <div class="container contacts-container">
        <h3 id="contacts" class="contacts__title">Registration for a <span class="color-text">free</span> phone <span class="color-text">consultation</span> on the nuances of English UPE</h3>
        <p class="contacts__subtitle">Leave a request for participation in a <span class="color-text">free lesson</span>.<br> 
            A consultant will contact you and answer your questions</p>
        <div class="subscription">
            <form action="contacts-action" class="contacts-form">
                <div class="contacts-form__request">
                    <input type="text" name="name" required placeholder="Name*" class="contacts-form__name" pattern="^[a-zA-Za-яеА-ЯЕ]+$" title="Ivan">
                    <input type="tel" name="phone" required placeholder="Phone*" class="contacts-form__phone" pattern="^[0-9]+$" title="099-000-00-00">
                    <button type="submit" class="contacts-submit-btn">i want a free lesson</button>
                </div>
            </form>
        </div>
    </div>
</section>