<footer class="footer">
  <div class="container footer__container">
    <div class="footer__wrapper">
      <a class="footer__logo" href="">
        <img class="footer__logo-icon" src="./images/logo_black.svg" alt="site logo" />
      </a>
      <div class="footer__box">
        <a class="footer__contact" href="tel:+380000000000">
          <svg class="footer__contact-icon">
            <use href="./images/icons.svg#icon-tel"></use>
          </svg>
          +38 (000) 000 00 00
        </a>
        <a class="footer__social" href="https://www.instagram.com/" target="_blank">
          <img class="footer__social-icon" src="./images/instagram.svg" alt="site logo" />
        </a>
      </div>
    </div>
    <p class="footer__rights">&#64; All rights reserved, 2022</p>
  </div>
</footer>
