<header class="header">
  <div class="container header__container">
      <a href="">
        <img class="header__logo" src="./images/logo_black.svg" alt="site logo" />
      </a>
      <div class="header__wrapper">
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="#program">Studying program</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#about">About</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#benefits">Training options</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn" type="button">Consultation by phone</button>
  <button type="button" class="mobile-menu-btn" data-menu-open>
    <svg width="21" height="12" class="mobile-menu-btn__icon">
      <use href="./images/icons.svg#icon-menu"></use>
    </svg>
  </button>
    </div>
  </div>

  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
        <button type="button" class="mobile-menu__close-btn" data-menu-close>
          <svg width="16" height="16" class="mobile-menu__close-icon">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <a href="">
            <img class="mobile-menu__logo" src="./images/logo_white.svg" alt="site logo" />
        </a>
        <nav class="mobile-menu__nav">
          <ul>
            <li>
              <a class="mobile-menu__link" href="#program">Studying program</a>
            </li>
            <li>
              <a class="mobile-menu__link" href="#about">About</a>
            </li>
            <li>
              <a class="mobile-menu__link" href="#benefits">Training options</a>
            </li>
            <li>
              <a class="mobile-menu__link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
        <div class="mobile-menu__wrapper">
        <button class="mobile-menu__modal-btn" type="button">Consultation by phone</button>
      </div>
  </div>
</header>
