<section class="section overlay">
  <div class="container hero">
    <div class="hero__info-wrapper">
      <h1 class="hero__tittle">Complex preparation for English UPE</h1>
      <p class="hero__text">
        <span class="hero__text_main--accept">It won’t be easy.</span><br />
        <strong
          >But you are guaranteed to get
          <span class="hero__text_secondary--accept"><br />+25 points</span></strong
        >
      </p>
      <a href="#contacts" class="button button__link">i want a free lesson</a>
    </div>
    <div class="hero__image-wrapper">
      <picture class="picture">
        <source
          srcset="/images/desktop-hero-img.png 1x, /images/desktop-hero-img@2x.png 2x"
          media="(min-width: 1366px)"
        />
        <source
          srcset="/images/tablet-hero-img.png 1x, /images/tablet-hero-img@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="/images/mobile-hero-img.png 1x, /images/mobile-hero-img@2x.png 2x"
          media="(max-width: 767px)"
        />
        <img src="/images/mobile-hero-img.png" alt="Teacher with student" />
      </picture>
    </div>
  </div>
</section>
