<section class="how-we-do">
  <div class="container">
    <h2 class="how-we-do__title">How do we do it</h2>
    <ul class="how-we-do__list">
      <li class="how-we-do__box">
        <div class="how-we-do__block">
          <svg class="how-we-do__icon" width="45" height="48">
            <use href="./images/icons.svg#adapted-program"></use>
          </svg>
          <div>
            <p class="how-we-do__title--secondary">Adapted program preparation for UPE</p>
            <p class="how-we-do__text">
              You will learn grammar and vocabulary at the same time. And you will learn how to
              write essays.
            </p>
          </div>
        </div>
      </li>
      <li class="how-we-do__box">
        <div class="how-we-do__block">
          <svg class="how-we-do__icon" width="48" height="47">
            <use href="./images/icons.svg#classroom"></use>
          </svg>
          <div>
            <p class="how-we-do__title--secondary">Classroom and online learning</p>
            <p class="how-we-do__text">
              The teacher will help not only in the classroom, but also during home preparation.<br />Parents
              can chat if they wish.
            </p>
          </div>
        </div>
      </li>
      <li class="how-we-do__box">
        <div class="how-we-do__block">
          <svg class="how-we-do__icon" width="68" height="48">
            <use href="./images/icons.svg#reading"></use>
          </svg>
          <div>
            <p class="how-we-do__title--secondary">The habit of reading in English</p>
            <p class="how-we-do__text">
              Articles from sources that are used in the development of this UPE will be received by
              phone twice a week.
            </p>
          </div>
        </div>
      </li>
      <li class="how-we-do__box">
        <div class="how-we-do__block">
          <svg class="how-we-do__icon" width="48" height="48">
            <use href="./images/icons.svg#psychological-support"></use>
          </svg>
          <div>
            <p class="how-we-do__title--secondary">Psychological support</p>
            <p class="how-we-do__text">
              We will teach you testing techniques, the ability to plan your confidence training in
              itself.
            </p>
          </div>
        </div>
      </li>
      <li class="how-we-do__box">
        <div class="how-we-do__block">
          <svg class="how-we-do__icon" width="40" height="48">
            <use href="./images/icons.svg#training-manuals"></use>
          </svg>
          <div>
            <p class="how-we-do__title--secondary">Training on copyright manuals</p>
            <p class="how-we-do__text">
              You don't have to waste your time on a search for material and to buy anything extra.
              We have compiled 2 manuals for you.
            </p>
          </div>
        </div>
      </li>
      <li class="how-we-do__box">
        <div class="how-we-do__block">
          <svg class="how-we-do__icon" width="57" height="48">
            <use href="./images/icons.svg#ability"></use>
          </svg>
          <div>
            <p class="how-we-do__title--secondary">Ability to comprehend spoken English</p>
            <p class="how-we-do__text">
              “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings
              in accordance with the studied vocabulary.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
