<section class="section program">
  <div class="container program__container">
    <h2 id="program" class="program__title">Our program</h2>

    <div class="program__wrapper">
      <ul class="semester">
        <li class="semester__item">
          <h3 class="semester__title">1 semester</h3>
          <ul class="module">
            <li class="module__item">
              <h4 class="module__title">Grammar</h4>
              <ul class="theme">
                <li class="theme__item">Nouns & Articles</li>
                <li class="theme__item">Adjectives & Adverb</li>
              </ul>
            </li>
            <li class="module__item">
              <h4 class="module__title">Vocabulary</h4>
              <ul class="theme">
                <li class="theme__item">Family & Relations</li>
                <li class="theme__item">People & Society</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          <h3 class="semester__title">2 semester</h3>
          <ul class="module">
            <li class="module__item">
              <h4 class="module__title">Grammar</h4>
              <ul class="theme">
                <li class="theme__item">Pronouns</li>
                <li class="theme__item">Active Voice</li>
                <li class="theme__item">Passive Voice</li>
              </ul>
            </li>
            <li class="module__item">
              <h4 class="module__title">Vocabulary</h4>
              <ul class="theme">
                <li class="theme__item">Home</li>
                <li class="theme__item">School</li>
                <li class="theme__item">Work</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          <h3 class="semester__title">3 semester</h3>
          <ul class="module">
            <li class="module__item">
              <h4 class="module__title">Grammar</h4>
              <ul class="theme">
                <li class="theme__item">Modal verbs</li>
                <li class="theme__item">Infinitive</li>
                <li class="theme__item">Gerund</li>
                <li class="theme__item">Participle: 1, 2</li>
              </ul>
            </li>
            <li class="module__item">
              <h4 class="module__title">Vocabulary</h4>
              <ul class="theme">
                <li class="theme__item">Travel & Tourism</li>
                <li class="theme__item">Culture & Free Time</li>
                <li class="theme__item">Sport</li>
              </ul>
            </li>
            <li class="module__item">
              <h4 class="module__title">Writing</h4>
              <ul class="theme">
                <li class="theme__item">Informal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          <h3 class="semester__title">4 semester</h3>
          <ul class="module">
            <li class="module__item">
              <h4 class="module__title">Grammar</h4>
              <ul class="theme">
                <li class="theme__item">Clauses: Conditional and Wishes</li>
                <li class="theme__item">Direct / Reported speech</li>
                <li class="theme__item">Preposition</li>
                <li class="theme__item">Conjunction</li>
                <li class="theme__item">Numeral</li>
              </ul>
            </li>
            <li class="module__item">
              <h4 class="module__title">Vocabulary</h4>
              <ul class="theme">
                <li class="theme__item">Healthy Living</li>
                <li class="theme__item">Nature & Environment</li>
                <li class="theme__item">Money</li>
              </ul>
            </li>
            <li class="module__item">
              <h4 class="module__title">Writing</h4>
              <ul class="theme">
                <li class="theme__item">Formal Letter</li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="semester__item">
          <h3 class="semester__title">5 semester</h3>
          <ul class="module">
            <li class="module__item">
              <span class="module__dash"></span>
              <ul class="theme">
                <li class="theme__item">Revision</li>
                <li class="theme__item">Tests</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
