.contacts {
    background-color: #111518;
    background-image: linear-gradient(
        rgba(17, 21, 24, 0.8),
        rgba(17, 21, 24, 0.8)),
        url(../images/mobile-contacts-img.jpg);
    background-size: cover;
    text-align: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .contacts {
        background-image: linear-gradient(rgba(17, 21, 24, 0.8),
            rgba(17, 21, 24, 0.8)),
            url(../images/mobile-contacts-img@2x.jpg);
    }
}
.contacts__title{
    margin-bottom: 24px;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;

    text-align: center;
    letter-spacing: 0.03em;
    
     color: #FFFFFF;
}
.contacts__subtitle{
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    
     color: #FFFFFF;
}
.contacts-form__name{
    width: 280px;
    height: 48px;
    padding-left: 28px;
    margin-bottom: 20px;
    border: 1px solid #FFFFFF;
    background: transparent;color: #FFFFFF;
}
.contacts-form__phone {
    width: 280px;
    height: 48px;
    padding-left: 28px;
    margin-bottom: 40px;
    border: 1px solid #FFFFFF;
    background: transparent;color: #FFFFFF;

}
.contacts-form__name::placeholder,
.contacts-form__phone::placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    
    align-items: center;
    letter-spacing: 0.08em;

    color: #FFFFFF;
}
.contacts-submit-btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: var(--white-color);
    width: 280px;
    height: 48px;
    border: none;
    background: var(--brand-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        color: var(--brand-color);
        background-color: transparent;
        border: 2px solid var(--brand-color);
    }
}
.color-text{
    color: #FF6B09;
}
.contacts-form__name:not(:placeholder-shown):required:valid{
border-color: #FFFFFF;
}
.contacts-form__name:not(:placeholder-shown):required:invalid {
    border-color: red;
}
.contacts-form__phone:not(:placeholder-shown):required:valid {
    border-color: #FFFFFF;
}

.contacts-form__phone:not(:placeholder-shown):required:invalid {
    border-color: red;
}

@media screen and (min-width: 768px) {
    .contacts-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts__title {max-width: 688px;
        font-size: 26px;
        line-height: 1.31;
    }
    .contacts__subtitle {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 1.21;
    }
   .contacts-form__name{
        width: 336px;
    }
   .contacts-form__phone{
        width: 336px;
        margin-bottom: 32px;
   }
   
   .contacts-form__request{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .contacts-submit-btn{
        width: 335px;
   }
   
    @media (min-device-pixel-ratio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
        .contacts {
            background-image: linear-gradient(
                rgba(17, 21, 24, 0.8),
                rgba(17, 21, 24, 0.8)),
                url(../images/tablet-contacts-img.jpg);
        }
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .contacts {
            background-image: linear-gradient(
                rgba(17, 21, 24, 0.8),
                rgba(17, 21, 24, 0.8)),
                url(../images/tablet-contacts-img@2x.jpg);
        }
    }
}
@media screen and (min-width: 1680px) {
    .contacts__title {
        max-width: 1090px;
        margin-bottom: 40px;
        font-size: 46px;
        line-height: 1.30;
        letter-spacing: 0.03em;
    }
    .contacts__subtitle {
        max-width: 1090px;
        margin-bottom: 60px;
        font-size: 30px;
        line-height: 1.23;
    }
    .contacts-form__name,
    .contacts-form__phone,
    .contacts-submit-btn {
      width: 528px;
      height: 70px;
    }
    .contacts-form__name::placeholder,
    .contacts-form__phone::placeholder {
        font-size: 20px;
        line-height: 1.2;
    }
    .contacts-form__name {
       margin-bottom: 32px;
    }
    .contacts-submit-btn {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.14em;
    }

    @media (min-device-pixel-ratio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
        .contacts {
            background-image: linear-gradient(
                rgba(17, 21, 24, 0.8),
                rgba(17, 21, 24, 0.8)),
                url(../images/desktop-contacts-img.jpg);
        }
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .contacts {
            background-image: linear-gradient(
                rgba(17, 21, 24, 0.8),
                rgba(17, 21, 24, 0.8)),
                url(../images/desktop-contacts-img@2x.jpg);
        }
    }
}